.h-info {
  max-width: 1920px;
  height: 890px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;

  img {
    position: absolute;
  }

  .left-top {
    width: 39%;
    top: 0;
    left: 0;
    opacity: 0.55;
  }

  .ball {
    width: 16%;
    top: 12%;
    right: 30%;
    opacity: 0.16;
  }

  .left-bottom {
    width: 34%;
    bottom: 0;
    right: 0;
    opacity: 0.31;
  }

  .title {
    font-size: 24px;
    color: #25324E;
    letter-spacing: 0;
    line-height: 38px;
  }

  .tip {
    font-size: 24px;
    color: #636363;
    letter-spacing: 0;
    text-align: justify;
    line-height: 36px;
  }

  .h-info-con {
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 21%;
    right: 0;
  }

  span {
    display: block;
  }
}

.h-phone {
  max-width: 1920px;
  height: 628px;
  margin: 0 auto;
  position: relative;
  background-image: url("../imgs/bg-phone.png");
  background-repeat: no-repeat;
  background-position: center center;

  .h-phone-dw {
    position: absolute;
    top: 5%;
    left: 40%;
  }

  .h-phone-c {
    width: 800px;
    padding: 20px;
    box-shadow: 0 6px 12px 0 rgba(108, 129, 152, 0.06), 0 13px 13px 0 rgba(108, 129, 152, 0.08), 0 20px 15px 0 rgba(108, 129, 152, 0.04);
    border-radius: 10px;
    background-color: #fff;
    margin-top: 26px;
    position: relative;
    z-index: 99;
  }

  .title {
    font-size: 24px;
    color: #25324E;
    letter-spacing: 0;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .tip {
    font-size: 19px;
    color: #636363;
    letter-spacing: 0;
    text-align: justify;
    line-height: 32px;
    margin-bottom: 10px;

    span {
      font-size: 19px;
      color: #25324E;
      letter-spacing: 0;
      text-align: justify;
      line-height: 28px;
    }

    i {
      display: inline-block;
      font-style: normal;
      width: 630px;
      padding-left: 10px;
      font-size: 19px;
      color: #636363;
      letter-spacing: 0;
      text-align: justify;
      line-height: 28px;
    }
  }
}

.h-style {
  max-width: 1920px;
  height: 1012px;
  margin: 0 auto;
  position: relative;
  background-image: url("../imgs/style-bg.png");
  background-repeat: no-repeat;
  background-position: center center;

  .h-style-con {
    width: 100%;
    position: absolute;
    top: 0;
    height: 1012px;
    margin: 0 auto;
  }

  .title {
    margin-top: 240px;
    font-size: 20px;
    color: #25324E;
    letter-spacing: 0;
    line-height: 30px;
    text-align: center;
  }

  .h-style-img {
    text-align: center;
    margin: 80px auto 0 auto;
  }
}

.h-bgf {
  .h-bgf-con {
    width: 1100px;
    background-color: #fff;
    margin: 100px auto;
  }

  .left {
    position: relative;
    width: 60%;
  }

  .right {
    position: relative;
    width: 40%;
  }

  .left1 {
    position: relative;
    width: 35%;
  }

  .right1 {
    position: relative;
    width: 65%;
  }

  .ty-bg {
    width: 70%;
    position: absolute;
    right: 0;
    opacity: .6;
  }

  .five li {
    text-align: center;
    width: 30%;
    display: inline-block;
    margin-bottom: 50px;

    span {
      display: block;
      font-size: 16px;
      color: #444444;
      line-height: 24px;
      margin: 10px auto;
    }
  }

  .four li {
    width: 50%;
    padding-right: 5%;
    display: inline-block;
    margin-bottom: 60px;
    float: left;

    i {
      display: block;
      font-style: normal;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #FF6360;
      line-height: 30px;
      color: #FF6360;
      text-align: center;
    }

    span {
      display: block;
      margin-top: 15px;
      font-size: 16px;
      color: #636363;
      letter-spacing: 0;
      text-align: justify;
      line-height: 28px;
    }
  }

  .title {
    font-size: 20px;
    color: #25324E;
    letter-spacing: 0;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 16px;
  }

  .tip {
    font-size: 19px;
    color: #636363;
    letter-spacing: 0;
    text-align: justify;
    line-height: 28px;
    margin-bottom: 15px;
  }
}

.h-zn {
  max-width: 1920px;
  height: 696px;
  margin: 0 auto;
  position: relative;
  background-image: url("../imgs/zn1-bg.png");
  background-repeat: no-repeat;
  background-position: center center;

  .h-zn-con {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    height: 600px;
    margin: 0 auto;
  }
}

.h-row {
  width: 900px;
  margin: 100px auto;
  .ty-bg {
    width: 100%;
    position: absolute;
    right: -130px;
    opacity: .5;
  }
  .bf-btn{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .phone-bg{
    width: 333px;
    height: 688px;
    margin: 0 auto;
    position: relative;
    background-image: url("../imgs/phone.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 99;
    div{
      position: absolute;
      top: 11px;
      left: 0;
      right: 0;
      margin: auto;
      width: 297px;
      height: 644px;
      border-radius: 26px;
      overflow: hidden;
    }
    video{
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      margin: auto;
      width: 297px;
      height: 644px;
    }
  }
  .left {
    position: relative;
    width: 50%;
  }
  .right{
    position: relative;
    width: 50%;
  }
  .title {
    font-size: 20px;
    color: #25324E;
    letter-spacing: 0;
    text-align: justify;
    line-height: 30px;
    margin:20px 0 16px 0;
  }
  .tip {
    font-size: 16px;
    color: #636363;
    letter-spacing: 0;
    text-align: justify;
    line-height: 28px;
    margin-bottom: 15px;
    *{
      vertical-align: top;
    }
    i{
      display: inline-block;
      width: 40px;
    }
    img{
      margin-bottom: 10px;
    }
  }
}
.h-tip{
  height: 400px;
  position: relative;
  background-image: url("../imgs/zn-bg.png");
  background-repeat: no-repeat;
  p{
    height: 81px;
    position: absolute;
    left: 17%;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 24px;
    color: #25324E;
    letter-spacing: 0;
    line-height: 40px;
  }
}