@font-face {  
  font-family: CopernicusWeb-Book;  
  src: url("../font/CopernicusWeb-Book.woff.eot") /* EOT file for IE */  
 }  
 @font-face {  
  font-family: CopernicusWeb-Book;  
  src: url("../font/CopernicusWeb-Book.woff.ttf") /* TTF file for CSS3 browsers */  
 }  
* {
  box-sizing: border-box;
  font-family: CopernicusWeb-Book;
}

*:before, *:after {
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0 none;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  max-height: 100000px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

em, strong {
  font-style: normal;
}

ul, ol, li {
  list-style: none;
}

body {
  line-height: 1.5;
  color: #323232;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

input {
  -webkit-user-select: text !important;
}

a:hover {
  text-decoration: none;
}

input, button {
  outline: none;
}

.lf {
  float: left;
}

.rt {
  float: right;
}

.cf:after {
  content: "";
  display: table;
  height: 0;
  clear: both;
  visibility: hidden;
}
